@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Regular.woff2') format('woff2'),
        url('Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-SemiBold.woff2') format('woff2'),
        url('Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold.woff2') format('woff2'),
        url('Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'icons';
    src:  url('icons.eot?rw076d');
    src:  url('icons.eot?rw076d#iefix') format('embedded-opentype'),
    url('icons.ttf?rw076d') format('truetype'),
    url('icons.woff?rw076d') format('woff'),
    url('icons.svg?rw076d#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-yunmai:before {
    content: "\e906";
    color: #b2b4b8;
}
.icon-accessories:before {
    content: "\e907";
}
.icon-av:before {
    content: "\e908";
}
.icon-vape:before {
    content: "\e909";
}
.icon-electric:before {
    content: "\e903";
}
.icon-smart:before {
    content: "\e904";
}
.icon-gadgets:before {
    content: "\e905";
}
.icon-infinity:before {
    content: "\e902";
}
.icon-logotype:before {
    content: "\e901";
}
.icon-quote:before {
    content: "\e900";
}

