<template>
    <div class="page__about">
    <div class="page__wrapper">
        <Header/>
        <section class="about">
            <div class="about__content">
                <h1 class="about__h1">About</h1>
                <div class="about__text">
                    Smart Group manages import, marketing support, pre- and post-sales maintenance, distribution to largest online and offline chains of electronics, multi-markets and sho.ua (own
                    e-commerce).<br/><br/>
                    We work only with brands and products that can be competitive and we are confident in their quality. At the moment we have 40 brands in 7 categories
                </div>
                <h2 class="about__h2">People</h2>
                <div class="about__text">
                    We work as teams, not as hierarchy. To make all decision and problem solving fast and more effective, we consider each brand as separate business. Category manager acts like CEO
                    that
                    has a
                    team of marketing, brand, sales managers.
                </div>
                <div class="employees">
                    <div class="employees__item">
                        <img src="../assets/images/employe-1.png" class="employees__image" alt=""/>
                        <div class="employees__desc">
                            <div class="employees__name">Luis Herrera</div>
                            <div class="employees__position">Production Director</div>
                        </div>
                    </div>
                    <div class="employees__item">
                        <img src="../assets/images/employe-1.png" class="employees__image" alt=""/>
                        <div class="employees__desc">
                            <div class="employees__name">Luis Herrera</div>
                            <div class="employees__position">Production Director</div>
                        </div>
                    </div>
                    <div class="employees__item">
                        <img src="../assets/images/employe-1.png" class="employees__image" alt=""/>
                        <div class="employees__desc">
                            <div class="employees__name">Luis Herrera</div>
                            <div class="employees__position">Production Director</div>
                        </div>
                    </div>
                    <div class="employees__item">
                        <img src="../assets/images/employe-1.png" class="employees__image" alt=""/>
                        <div class="employees__desc">
                            <div class="employees__name">Luis Herrera</div>
                            <div class="employees__position">Production Director</div>
                        </div>
                    </div>
                    <div class="employees__item">
                        <img src="../assets/images/employe-1.png" class="employees__image" alt=""/>
                        <div class="employees__desc">
                            <div class="employees__name">Luis Herrera</div>
                            <div class="employees__position">Production Director</div>
                        </div>
                    </div>
                    <div class="employees__item">
                        <img src="../assets/images/employe-1.png" class="employees__image" alt=""/>
                        <div class="employees__desc">
                            <div class="employees__name">Luis Herrera</div>
                            <div class="employees__position">Production Director</div>
                        </div>
                    </div>
                    <div class="employees__item">
                        <img src="../assets/images/employe-1.png" class="employees__image" alt=""/>
                        <div class="employees__desc">
                            <div class="employees__name">Luis Herrera</div>
                            <div class="employees__position">Production Director</div>
                        </div>
                    </div>
                    <div class="employees__item">
                        <img src="../assets/images/employe-1.png" class="employees__image" alt=""/>
                        <div class="employees__desc">
                            <div class="employees__name">Luis Herrera</div>
                            <div class="employees__position">Production Director</div>
                        </div>
                    </div>
                    <div class="employees__item">
                        <img src="../assets/images/employe-1.png" class="employees__image" alt=""/>
                        <div class="employees__desc">
                            <div class="employees__name">Luis Herrera</div>
                            <div class="employees__position">Production Director</div>
                        </div>
                    </div>
                    <div class="employees__item">
                        <img src="../assets/images/employe-1.png" class="employees__image" alt=""/>
                        <div class="employees__desc">
                            <div class="employees__name">Luis Herrera</div>
                            <div class="employees__position">Production Director</div>
                        </div>
                    </div>
                    <div class="employees__item">
                        <img src="../assets/images/employe-1.png" class="employees__image" alt=""/>
                        <div class="employees__desc">
                            <div class="employees__name">Luis Herrera</div>
                            <div class="employees__position">Production Director</div>
                        </div>
                    </div>
                    <div class="employees__item">
                        <img src="../assets/images/employe-1.png" class="employees__image" alt=""/>
                        <div class="employees__desc">
                            <div class="employees__name">Luis Herrera</div>
                            <div class="employees__position">Production Director</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="quote">
                <h2 class="quote__h2">Clients love to work with us</h2>
                <div class="quote__content">
                    <span class="icon-quote quote__icon"></span>
                    We decided to significantly change the nature of the services we are providing to our clients by creating, really, a digital-first company, and digital first in two main
                    directions:
                    first, being the leader in providing digital services to our clients and second, making Comfy the most digitalized organization.
                </div>
                <div class="quote__author">Ihor Khyzhnyak</div>
                <div class="quote__position">CEO at Comfy</div>
            </div>
        </section>
    </div>
        <Footer/>
    </div>
</template>

<script>
    // @ is an alias to /src
    import Header from '@/components/Header.vue'
    import Footer from '@/components/Footer.vue'

    export default {
        components: {
            Header,
            Footer
        }
    }
</script>

<style lang="stylus" scoped>

    .about__content

        @media (min-width 1024px)
            padding-left 250px

    .about__h1
        font-size 36px
        font-weight bold

        @media (min-width 1024px)
            font-size 48px

    .about__h2
        font-size 24px

    .about__text
        font-size 14px
        line-height 1.7
        padding 24px 0 48px

        @media (min-width 1024px)
            max-width 468px

    .employees
        display flex
        flex-flow row wrap
        justify-content space-between
        margin 0 -32px

        @media (min-width 685px)
            margin 0 auto

    .employees__item
        width 50%
        display flex
        flex-direction column
        align-items center

        @media (min-width 460px)
            width auto

    /*@media (min-width 685px)*/
    /*width 25%*/

    .employees__image
        display block
        width 100%
        max-width 224px
        margin-bottom 16px

    .employees__name
        font-size 14px

    .employees__desc
        width 100%
        padding 0 32px
        box-sizing border-box

    .employees__position
        margin 8px 0 68px
        font-size 14px
        color #808080

    .quote

        @media (min-width 1024px)
            padding-left 130px
            max-width 956px
            margin 0 auto

    .quote__h2
        font-size 24px
        text-align center

    .quote__content
        padding 70px 0 32px
        line-height 1.6
        font-size 18px
        position relative

        @media (min-width 1024px)
            font-size 36px

    .quote__icon
        position absolute
        left -40px
        top 50px
        font-size 45px
        color #2858A2
        z-index -1

        @media (min-width 1024px)
            font-size 94px
            top 30px
            left -70px

    .quote__author
        font-size 14px

    .quote__position
        font-size 14px
        color #808080
        margin 8px 0 80px


</style>
