<template>
    <div class="page__contact">
        <div class="page__wrapper">
            <Header/>
            <section class="contact">
                <h1 class="contact__h1">Contact</h1>
                <div class="contact__content">
                    <div class="contact__item">
                        <h2 class="contact__h2">Office</h2>
                        <div class="contact__text">
                            45-49 Vozdvyzhenska street, Office 406<br/>
                            Kiev, Ukraine
                        </div>
                        <a href="/" class="contact__link contact__link_gray">Get Directions →</a>
                        <a href="tel:+380 67 575 58 28" class="contact__link contact__link_phone">+380 67 575 58 28</a>
                        <a href="tel:+380 44 209 30 94" class="contact__link contact__link_phone">+380 44 209 30 94</a>
                    </div>
                    <div class="contact__item">
                        <h2 class="contact__h2">Email</h2>
                        <a href="mailto:retail@smartgroup.ua" class="contact__link contact__link_email">retail@smartgroup.ua</a>
                        <a href="mailto:vendor@smartgroup.ua" class="contact__link contact__link_email">vendor@smartgroup.ua</a>
                        <a href="mailto:info@smartgroup.ua" class="contact__link contact__link_email">info@smartgroup.ua</a>
                    </div>
                    <div class="contact__item">
                        <h2 class="contact__h2">Careers</h2>
                        <div class="contact__text">
                            Our business is moving fast with people that move even faster. If you’re ready for constant improvement and challenges feel free to apply.
                        </div>
                        <a href="/" class="contact__link contact__link_gray">See current openings →</a>
                    </div>
                </div>
            </section>
        </div>
        <Footer/>
    </div>
</template>

<script>
    import Header from '@/components/Header.vue'
    import Footer from '@/components/Footer.vue'

    export default {
        components: {
            Header,
            Footer
        }
    }
</script>

<style lang="stylus" scoped>
    .contact
        padding-bottom 80px

        @media (min-width 1024px)
            padding-left 250px

    .contact__content
        display flex
        flex-direction column

        @media (min-width 1024px)
            flex-flow row wrap

    .contact__item
        display flex
        flex-direction column

        @media (min-width 1024px)
            width 50%

    .contact__h1
        font-size 36px
        font-weight bold

        @media (min-width 1024px)
            font-size 48px

    .contact__h2
        font-size 24px
        margin 40px 0 16px

    .contact__text
        font-size 14px
        line-height 1.7

    .contact__link
        color inherit
        margin 8px 0
        text-decoration none

        &:hover
            text-decoration underline

    .contact__link_gray
        color #999

        &:hover
            color #000

    .contact__link_email
    .contact__link_phone
        margin-top 16px

</style>
