<template>
    <div class="page__home">
        <!--<mapbox style="width: 400px; height: 400px"-->
                <!--access-token="pk.eyJ1IjoidGF5YXEiLCJhIjoiY2pqNWttc3pnMDF5YTNrcGZ2MjgxdnJmcSJ9.FYBtnxzTWi0BhKf4d0xyog"-->
                <!--:map-options="{-->
      <!--style: 'mapbox://styles/mapbox/streets-v9',-->
      <!--center: [-96, 37.8],-->
      <!--zoom: 3-->
  <!--}"-->
                <!--:geolocate-control="{-->
      <!--show: false,-->
      <!--position: 'top-left'-->
  <!--}"-->
                <!--:scale-control="{-->
      <!--show: false,-->
      <!--position: 'top-left'-->
  <!--}"-->
                <!--:fullscreen-control="{-->
      <!--show: false,-->
      <!--position: 'top-left'-->
  <!--}">-->
        <!--</mapbox>-->
        <div class="page__wrapper">
            <Header class="header_black"/>
        </div>
        <!--<full-page :options="options">-->
        <Hero/>
        <Process/>
        <Channel/>
        <Categories/>
        <Marketing/>
        <Service/>
        <Automation/>
        <!--<Footer/>-->
        <!--</full-page>-->
        <Footer/>
    </div>
</template>

<script>
    import Header from '@/components/Header.vue'
    import Hero from '@/components/Hero.vue'
    import Automation from '@/components/Automation.vue'
    import Channel from '@/components/Channel.vue'
    import Service from '@/components/Service.vue'
    import Marketing from '@/components/Marketing.vue'
    import Categories from '@/components/Categories.vue'
    import Footer from '@/components/Footer.vue'
    import Process from '@/components/Process.vue'
    import FullPage from 'vue-fullpage.js'

    import Mapbox from 'mapbox-gl-vue';

    export default {
        components: {
            Header,
            Footer,
            Hero,
            Automation,
            Service,
            Marketing,
            Categories,
            Channel,
            FullPage,
            Process,
            Mapbox
        },
        data() {
            return {
                options: {
                    // scrollOverflow: true,
                }
            }
        },
        methods: {

        },
        mounted() {
        }
    }
</script>

<style lang="stylus" scoped>

    .page__home
        background #222

</style>