<template>
    <div class="page__process">
        <section class="process">
            <div class="process__loader"></div>
            <mapbox class="process__mapbox" :accessToken="accessToken" :map-options="options" @map-load="mapInitialized"></mapbox>
            <div class="carousel">
                <carousel class="carousel__body" :perPage="1" :navigate-to="activeSlide" v-on:pageChange="goTo">
                    <slide class="carousel__item" >
                        <div class="carousel__name">Discovery</div>
                        <div class="carousel__desc">We scout for new brands and categories all over the world and visit every significant exhibition.</div>
                    </slide>
                    <slide class="carousel__item">
                        <div class="carousel__name">Import</div>
                        <div class="carousel__desc">We select the best brands and products that can be competitive  and we are confident in their quality.</div>
                    </slide>
                    <slide class="carousel__item">
                        <div class="carousel__name">Pre-sales service</div>
                        <div class="carousel__desc">We evaluate the quality, performance, localize brand materials, prepare service processes to provide the customer and client with all the necessary materials for sales start.</div>
                    </slide>
                    <slide class="carousel__item">
                        <div class="carousel__name">Distribution</div>
                        <div class="carousel__desc">Customers can find our goods in the largest online and offline chains of electronics, multi-markets. To support sales and increase demand, we opened our own e-commerce and showroom.</div>
                    </slide>
                    <slide class="carousel__item">
                        <div class="carousel__name">Marketing support</div>
                        <div class="carousel__desc">To support brands, we create or localize the entire set of required marketing materials and support the brand through the site, paid online media, trade promo, pr, smm.</div>
                    </slide>
                    <slide class="carousel__item">
                        <div class="carousel__name">Import</div>
                        <div class="carousel__desc">We select the best brands and products that can be competitive  and we are confident in their quality..</div>
                    </slide>
                </carousel>
                <div class="navigation">
                    <div class="navigation__item" v-for="(item, index) in navigationItems" :key="item" @click="goTo(index)" :class="{ 'navigation__item_active' : index === activeSlide }">
                        <div class="navigation__name">{{ item }}</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import Header from '@/components/Header.vue'

    import Mapbox from 'mapbox-gl-vue';
    // import Slick from 'vue-slick';
    import {Carousel, Slide} from 'vue-carousel';

    export default {
        data() {
            return {
                accessToken: 'pk.eyJ1IjoidGF5YXEiLCJhIjoiY2pqNWttc3pnMDF5YTNrcGZ2MjgxdnJmcSJ9.FYBtnxzTWi0BhKf4d0xyog',
                options: {
                    style: 'mapbox://styles/tayaq/cjjsub2g102xu2so7bzyat5k5',
                    center: [0, 0],
                    zoom: 1,
                    attributionControl: false,
                },
                activeSlide: 0,
                navigationItems: ['Discovery', 'Import', 'Pre-sales service', 'Distribution', 'Marketing Support', 'After Sales']
            }
        },
        methods: {
            mapInitialized(map) {
                this.map = map;
            },
            goTo(number) {
                this.activeSlide = number;
                this.map.flyTo({
                    zoom: number + 1,
                    center: [5 * number, 7.5 * number]
                })
            }
        },
        components: {
            Header,
            Mapbox,
            Carousel,
            Slide
        }
    }
</script>

<style lang="stylus">
    .VueCarousel-wrapper
        height 100%

    .VueCarousel-inner
        height 100%
</style>

<style lang="stylus" scoped>

    .process
        width 100%
        height 100%
        position relative
        overflow hidden

    .process__mapbox
        position absolute
        left -12%
        top -12%
        width 124%
        height 124%
        z-index -1

    .carousel
    .carousel__body
        position absolute
        left 0
        top 0
        width 100%
        height 100%

    .carousel__item
        display flex
        justify-content center
        flex-direction column
        min-height 100%
        padding 48px
        box-sizing border-box

        &:before
            content ''
            position absolute
            left 27px
            top 0
            height 100%
            border 1px dotted rgba(#808080, .4)

        &:after
            content ''
            position absolute
            left 24px
            top 50%
            transform translateY(-50%)
            width 8px
            height 8px
            background #4E4E4D
            border-radius 4px

    .carousel__name
        font-size 24px
        color #fff
        margin-bottom 24px
        position relative

        &:before
            counter-increment service
            content: "0" counter(service);
            position absolute
            left 0
            top -20px
            font-size 12px
            font-weight bold
            line-height 1
            color #808080

    .carousel__desc
        color #808080
        font-size 18px

    .navigation
        position absolute
        left 0
        bottom 0
        width 100%
        height 75px
        border-top 1px dotted rgba(#808080, .5)
        display flex
        justify-content space-between
        z-index 2

    .navigation__item
        display flex
        justify-content center
        align-items center
        color #fff
        width 16.66%
        cursor pointer
        position relative

    .navigation__item_active
        &:before
            content ''
            position absolute
            left -12px
            top -12px
            right -12px
            bottom 0
            background #000
            z-index -1

</style>
