<template>
    <section class="automation page__section automation">
        <h1 class="page__h1 automation__h1">Automation is a key</h1>
        <div class="automation__list">
            <div class="automation__item" v-bind:class="{ 'automation__item_show' : automation === 0 }">
                <div class="automation__image"></div>
                <div class="automation__name" @click="automation = 0">Asnovator</div>
                <div class="automation__desc">
                    We know that new products & categories are not so easy to sell. That’s why we pay attention to education of sales people and we use Asnovator — easy-to-use online education tool.
                </div>
                <a href="/" class="automation__link">Visit website</a>
            </div>
            <div class="automation__item automation__item_right" v-bind:class="{ 'automation__item_show' : automation === 1 }">
                <div class="automation__image"></div>
                <div class="automation__name" @click="automation = 1">Effie software</div>
                <div class="automation__desc">
                    We as a brand holders have 24/7 access to latest information from partners’ sales outlets, react on-the-spot and create fast & deep reports for vendors.
                </div>
                <a href="/" class="automation__link">Take a look on Effie software</a>
            </div>
            <div class="automation__item" v-bind:class="{ 'automation__item_show' : automation === 2 }">
                <div class="automation__image"></div>
                <div class="automation__name" @click="automation = 2">Smart API</div>
                <div class="automation__desc">
                    <strong class="page__strong">Always up-to-date</strong><br/>
                    We’ll integrate with your software and pass the data in real-time.<br/><br/>

                    <strong class="page__strong">Online-access to the goods & prices</strong><br/>
                    You can always check goods availability or new items online in your account.<br/><br/>

                    <strong class="page__strong">Order without *.xls files</strong>
                    Orders are proceeded automatically, no need to create special *.xls file
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data: function () {
            return {
                automation: 0
            }
        }
    }
</script>

<style lang="stylus" scoped>

    .automation
        background #fff
        margin-bottom -32px

        @media (min-width 1024px)
            padding-left 325px

    .automation__h1
        margin-top 32px

        @media (min-width 1024px)
            margin 0 0 120px 0

    .automation__list
        margin 40px -32px 0

        @media (min-width 1024px)
            margin 0

    .automation__item
        position relative
        display flex
        justify-content center
        flex-direction column

        @media (min-width 1024px)
            padding-left 490px
            min-height 270px
            margin-bottom 100px

            &:not(:last-child)
                margin-bottom 180px

    .automation__item_right

        @media (min-width 1024px)
            padding 0 490px 0 0

    .automation__image
        width 355px
        height 270px
        background #eee
        position absolute
        left 0
        top 0
        display none

        @media (min-width 1024px)
            display block

        .automation__item_right &
            left auto
            right 0

    .automation__name
        font-size 24px
        line-height 1.3
        padding 16px 32px
        border-bottom 1px solid #F2F3F5
        border-top 1px solid #F2F3F5
        position relative
        cursor pointer

        @media (min-width 1024px)
            border none
            cursor default
            padding 0
            margin-bottom 16px

        &:hover
            background #F2F3F5

            @media (min-width 1024px)
                background none

        .automation__item_show &
            border none

        @media (max-width 1023px)
            &:after
                content ''
                position absolute
                right 32px
                top 50%
                transform translateY(-50%)
                width 0
                height 0
                border-style solid
                border-width 4px 4px 0 4px
                border-color #C6C8CC transparent transparent transparent

                .automation__item_show &
                    transform translateY(-50%) rotate(180deg)

    .automation__desc
        font-size 14px
        line-height 1.7
        height 0
        overflow hidden

        .automation__item_show &
            height auto
            padding 16px 32px 24px

            @media (min-width 1024px)
                padding 0

        @media (min-width 1024px)
            height auto
            padding 0

    .automation__link
        font-size 14px
        display none
        margin-top 16px
        color #999

        &:hover
            color #000
            text-decoration underline

        @media (min-width 1024px)
            display inline-block


</style>