<template>
    <section class="categories page__section">
        <h2 class="page__h1">We bring new experience for customers</h2>
        <div class="categories__list">
            <div class="categories__item">
                <span class="categories__icon icon-gadgets"></span>
                <span class="categories__name">Gadget</span>
            </div>
            <div class="categories__item">
                <span class="categories__icon icon-smart"></span>
                <span class="categories__name">Smart home</span>
            </div>
            <div class="categories__item">
                <span class="categories__icon icon-electric"></span>
                <span class="categories__name">Electric Transport</span>
            </div>
            <div class="categories__item">
                <span class="categories__icon icon-av"></span>
                <span class="categories__name">Audio / Video</span>
            </div>
            <div class="categories__item">
                <span class="categories__icon icon-vape"></span>
                <span class="categories__name">Vape</span>
            </div>
            <div class="categories__item">
                <span class="categories__icon icon-accessories"></span>
                <span class="categories__name">Accessories</span>
            </div>
        </div>
        <div class="brands">
            <h2 class="page__h2">Exclusive brands</h2>
            <div class="brands__list">
                <div class="brands__item">
                    <span class="brands__icon icon-yunmai"></span>
                </div>
                <div class="brands__item">
                    <span class="brands__icon icon-logotype"></span>
                </div>
                <div class="brands__item">
                    <span class="brands__icon icon-logotype"></span>
                </div>
                <div class="brands__item">
                    <span class="brands__icon icon-logotype"></span>
                </div>
                <div class="brands__item">
                    <span class="brands__icon icon-logotype"></span>
                </div>
                <div class="brands__item">
                    <span class="brands__icon icon-logotype"></span>
                </div>
            </div>
            <a href="/" class="brands__link">Explore all brands →</a>
        </div>
    </section>
</template>

<style lang="stylus" scoped>

    .categories
        background #fff
        color #000
        overflow hidden

    .categories__list
        display flex
        margin 48px 0

    .categories__item
        width 224px
        height 344px
        position relative
        background #000
        min-width 224px
        overflow hidden

        &:not(:last-child)
            margin-right 20px

    .categories__name
        color #fff
        position absolute
        left 24px
        bottom 32px
        font-size 18px
        line-height 1
        font-weight 600

    .categories__icon
        color #fff
        font-size 72px
        position absolute
        top 48px
        right 40px

    .brands__list
        margin 32px -32px
        display flex
        flex-wrap wrap

        @media (min-width 1024px)
            width 665px

    .brands__item
        width 50%
        height 135px
        border-bottom 1px solid #f7f7f7
        display flex
        justify-content center
        align-items center
        color #D5D7DB
        font-size 32px
        position relative

        @media (min-width 1024px)
            width 33.33%
            border none

    .brands__link
        color #808080
        line-height 1
        font-weight 600

        &:hover
            color #000
            text-decoration underline



</style>