<template>
    <section class="channel">
        <div class="channel__wrapper">
            <div class="channel__map">
                <mapbox class="channel__mapbox" :accessToken="accessToken" :map-options="options"></mapbox>
            </div>
            <div class="channel__content   page__section">
                <h2 class="page__h1 channel__h2">Launch pad for brands</h2>
                <div class="numbers">
                    <div class="numbers__item">
                        <div class="numbers__name">offline stores</div>
                        <div class="numbers__count">689</div>
                    </div>
                    <div class="numbers__item">
                        <div class="numbers__name">online stores</div>
                        <div class="numbers__count">56</div>
                    </div>
                    <div class="numbers__item">
                        <div class="numbers__name">online traffic monthly</div>
                        <div class="numbers__count">8m</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page__section">
            <h2 class="page__h2">Own stores</h2>
            <div class="channel__text">We created own e-commerce & showroom to push new products on the market. It makes easier for retail chains to sell & vendors to enter the market.</div>
            <div class="channel__image-wrapper">
                <img src="../assets/images/channel__image.jpg" class="channel__image" alt=""/>
            </div>
            <div class="channel__bottom">
                <h2 class="page__h2">Motivational programs</h2>
                <div class="channel__text">We offer regular promo and bonus programs for retail chains.</div>
            </div>
        </div>
    </section>
</template>

<script>

    import Mapbox from 'mapbox-gl-vue';

    export default {
        data() {
            return {
                accessToken: 'pk.eyJ1IjoidGF5YXEiLCJhIjoiY2pqNWttc3pnMDF5YTNrcGZ2MjgxdnJmcSJ9.FYBtnxzTWi0BhKf4d0xyog',
                options: {
                    style: 'mapbox://styles/tayaq/cjjsugp0g19md2so4ctthrz6r',
                    center: [45, 45],
                    zoom: 1,
                    attributionControl: false,
                }
            }
        },
        components: {
            Mapbox
        }
    }
</script>

<style lang="stylus" scoped>
    .channel
        background #fff
        color #000

    .channel__h2
        margin-top 88px
        max-width 300px

    .channel__image-wrapper
        margin 32px -24px 48px

        @media (min-width 1024px)
            margin 64px 0

    .channel__image
        width 100%
        display block
        max-width 960px

    .channel__text
        margin-top 16px

        @media (min-width 1024px)
            max-width 345px

    .channel__bottom

        @media (min-width 1024px)
            padding-left 350px

    .channel__wrapper
        position relative


    .channel__map
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        overflow hidden

    .channel__mapbox
        position absolute
        left -12%
        top -12%
        width 124%
        height 124%

    .channel__content
        position relative
        z-index 2

        @media (min-width 1024px)
            background url(../assets/images/channel__triangle.png) center center no-repeat

    .numbers
        display flex
        flex-direction column
        line-height 1
        margin 64px 0 80px

        @media (min-width 1024px)
            flex-direction row

    .numbers__item
        display flex
        align-items center

        &:not(:last-child)
            margin-bottom 48px

        @media (min-width 1024px)
            width 224px
            height 224px
            background #fff
            position relative

            &:not(:last-child)
                margin 0 20px 0 0

    .numbers__name
        flex-grow 2
        font-weight 600
        padding-bottom 10px
        border-bottom 1px dotted #1a1a1a

        @media (min-width 1024px)
            position absolute
            left 20px
            bottom 20px
            border none
            padding 0
            font-weight normal

    .numbers__count
        font-size 48px
        padding-left 15px

        @media (min-width 1024px)
            width 100%
            text-align center
            padding 0
            font-size 64px
            position absolute
            top 48px
            left 0
</style>