<template>
    <section class="footer">
        <div class="join">
            <h2 class="page__h1 join__title">Join In</h2>
            <div class="join__navigation">
                <a href="/" class="button join__button">
                    <span class="button__text">Request a quote →</span>
                </a>
                <a href="/" class="button button_gray join__button">
                    <span class="button__text">See contacts →</span>
                </a>
            </div>
        </div>
        <div class="footer__wrapper">
            <div class="navigation">
                <div class="navigation__column">
                    <div class="navigation__item navigation__item_page">
                        <a href="/" class="navigation__link navigation__link_page">Home</a>
                    </div>
                    <div class="navigation__item">
                        <a href="/" class="navigation__link">Approach</a>
                    </div>
                    <div class="navigation__item">
                        <a href="/" class="navigation__link">Scale</a>
                    </div>
                    <div class="navigation__item">
                        <a href="/" class="navigation__link">Brands</a>
                    </div>
                    <div class="navigation__item">
                        <a href="/" class="navigation__link">Marketing support</a>
                    </div>
                    <div class="navigation__item">
                        <a href="/" class="navigation__link">Customer service</a>
                    </div>
                    <div class="navigation__item">
                        <a href="/" class="navigation__link">Software integration</a>
                    </div>
                </div>
                <div class="navigation__column">
                    <div class="navigation__item navigation__item_page">
                        <a href="/" class="navigation__link navigation__link_page">About</a>
                    </div>
                </div>
                <div class="navigation__column">
                    <div class="navigation__item navigation__item_page">
                        <a href="/" class="navigation__link navigation__link_page">Contacts</a>
                    </div>
                    <div class="navigation__item">
                        <a href="/" class="navigation__link">Download mediakit</a>
                    </div>
                </div>
            </div>
            <div class="social">
                <a href="/" class="social__link">Facebook</a>
                <a href="/" class="social__link">LinkedIn</a>
                <a href="/" class="social__link">Telegram</a>
            </div>
            <div class="copyright">
                <span class="copyright__text">2012 - <span class="icon-infinity copyright__icon"></span></span>
                <span class="copyright__text">Smart Group, Inc.</span>
            </div>
            <div class="design">Designed at <span class="design__text">once.</span></div>
        </div>
    </section>
</template>

<style scoped lang="stylus">
    .footer
        background #222
        padding-bottom 30px
        font-size 14px
        position relative

        @media (min-width 1024px)
            padding 0

    .footer__wrapper

        @media (min-width 1024px)
            display flex
            justify-content flex-start
            padding 80px

    .join
        padding 64px 32px 64px
        background url(../assets/images/join.png) 0 0 / cover
        border-bottom 1px solid #3d3d3d

        @media (min-width 1024px)
            padding 80px 80px 80px 325px
            background-image url(../assets/images/join_desktop.png)

    .join__title
        font-size 36px
        color #fff
        font-weight bold

        @media (min-width 1024px)
            font-size 48px

    .join__navigation
        display flex
        margin-top 40px
        flex-wrap wrap

    .join__button
        margin 0 40px 0 0
        &:not(:last-child)
            margin-bottom 20px

            @media (min-width 400px)
                margin-bottom 0

        &:last-child
            @media (min-width 400px)
                margin-right 0

    .navigation
        padding 48px 48px 24px 48px
        box-sizing border-box
        border-bottom 1px solid rgba(#808080, .2)

        @media (min-width 1024px)
            display flex
            padding 0
            border none
            flex-grow 3

    .navigation__column

        @media (min-width 1024px)
            width 33.33%

    .navigation__item:not(:last-child)
        padding 12px 0

        @media (min-width 1024px)
            padding 0 0 12px 0

    .navigation__item_page
        padding 32px 0 4px

        @media (min-width 1024px)
            padding 0 0 12px 0

    .navigation__link
        line-height 1.7
        color #fff

    .navigation__link_page
        font-size 14px
        font-weight bold

    .social
        display flex
        padding 24px 48px
        justify-content space-between
        border-bottom 1px solid rgba(#808080, .2)

        @media (min-width 1024px)
            border none
            flex-direction column
            padding 0
            justify-content flex-start
            flex-grow 1

    .social__link
        line-height 1.7
        color #fff

        @media (min-width 1024px)
            margin-bottom 12px

    .copyright
        color rgba(#808080, .5)
        padding 24px 48px
        display flex
        align-items center
        line-height 1.7

        @media (min-width 1024px)
            flex-direction column-reverse
            align-items flex-start
            justify-content flex-end
            padding 0
            order -1
            flex-grow 1

    .copyright__text

        @media (min-width 1024px)
            margin-bottom 12px

    .copyright__icon
        margin 0 10px 0 0
        font-size 10px

    .design
        color rgba(#808080, .5)
        padding 0 48px

        @media (min-width 1024px)
            position absolute
            right 80px
            bottom 80px

    .design__text
        font-weight bold

</style>
