<template>
    <section class="header" :class="{ 'header_menu-open' : menuIsOpen }">
        <a href="" class="logotype">
            <span class="icon-logotype"></span>
        </a>
        <div class="menu-trigger" @click="menuIsOpen = !menuIsOpen">{{ menuIsOpen ? 'Close' : 'Menu' }}</div>
        <div class="header__menu">
            <a href="" class="logotype">
                <span class="icon-logotype"></span>
            </a>
            <div class="menu">
                <div class="menu__column">
                    <div class="menu__item menu__item_page">
                        <a href="/" class="menu__link menu__link_page">Home</a>
                    </div>
                    <div class="menu__item">
                        <a href="/" class="menu__link">Approach</a>
                    </div>
                    <div class="menu__item">
                        <a href="/" class="menu__link">Scale</a>
                    </div>
                    <div class="menu__item">
                        <a href="/" class="menu__link">Brands</a>
                    </div>
                    <div class="menu__item">
                        <a href="/" class="menu__link">Marketing support</a>
                    </div>
                    <div class="menu__item">
                        <a href="/" class="menu__link">Customer service</a>
                    </div>
                    <div class="menu__item">
                        <a href="/" class="menu__link">Software integration</a>
                    </div>
                </div>
                <div class="menu__column">
                    <div class="menu__item menu__item_page">
                        <a href="/" class="menu__link menu__link_page">About</a>
                    </div>
                </div>
                <div class="menu__column">
                    <div class="menu__item menu__item_page">
                        <a href="/" class="menu__link menu__link_page">Contacts</a>
                    </div>
                </div>
                <div class="menu__column">
                    <div class="menu__item menu__item_page">
                        <a href="/" class="menu__link menu__link_page">Login</a>
                    </div>
                </div>
            </div>
            <div class="languages">
                <a href="/" class="languages__item languages__item_active">En</a>
                <a href="/" class="languages__item">Рус</a>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data: function () {
            return {
                menuIsOpen: false
            }
        }
    }
</script>

<style scoped lang="stylus">
    .header
        height 15px
        margin-bottom 70px
        position relative
        display flex
        justify-content space-between

    .header_black
        background #222
        color #fff

    .logotype
        color #000
        text-decoration none
        font-size 14px
        position relative
        z-index 2
        height 15px

        .header_black:not(.header_menu-open) &
            color #fff

    .languages
        position absolute
        left 50%
        top 33px
        transform translateX(-50%)
        display flex
        visibility hidden
        height 15px

        .header_menu-open &
            visibility visible

        @media (min-width 1024px)
            visibility visible
            position relative
            left 0
            top 0
            transform none

    .languages__item
        margin 0 12px
        font-size 14px
        font-weight 600
        color #808080

        &:hover
            color #000

    .languages__item_active
        position relative
        color #000

        &:before
            content ''
            position absolute
            left 50%
            top -33px
            transform translateX(-50%)
            width 40px
            height 2px
            background #000
            cursor default

    .header__menu
        position fixed
        left 0
        top 0
        width 100%
        box-sizing border-box
        height 0
        z-index 5
        overflow hidden
        display flex
        justify-content space-between

        .header_menu-open &
            height 100%
            background #fff
            padding 32px

        @media (min-width 1024px)

            .header_menu-open &
                height auto
                padding 40px 75px

    .menu
        box-sizing border-box
        position absolute
        left 0
        top 100px
        width 100%
        padding 0 32px
        bottom 48px
        display none
        overflow auto
        color #000

        .header_menu-open &
            display flex
            flex-direction column

        @media (min-width 1024px)
            position relative
            top 0
            display flex
            justify-content space-between
            padding 0
            margin 0 120px 0 210px

            .header_menu-open &
                flex-direction row

    .menu__item
        padding 12px 0

        @media (min-width 1024px)
            padding 0 0 12px 0

    .menu__item_page
        padding 32px 0 0

        @media (min-width 1024px)
            padding 0 0 12px 0

    .menu__list
        height 100%
        overflow auto

    .menu__link
        /*line-height 1.7*/
        font-size 14px

    .menu__link_page
        font-size 18px
        font-weight bold

    .menu-trigger
        font-size 14px
        color #808080
        cursor pointer
        display flex
        align-items center
        font-weight 600
        z-index 6
        height 15px
        position fixed
        right 32px
        top 32px

        .header_black:not(.header_menu-open) &
            color #fff

        .header_menu-open &
            top 32px
            right 32px

        &:after
            content ''
            width 0
            height 0
            border-style solid
            border-width 3px 3px 0 3px
            border-color #808080 transparent transparent transparent
            margin-left 4px

            .header_black:not(.header_menu-open) &
                border-color #fff transparent transparent transparent

            .header_menu-open &
                transform rotate(180deg)

        &:hover
            color #000

            .header_black:not(.header_menu-open) &
                color #fff

            &:after
                border-color #000 transparent transparent transparent

        @media (min-width 1024px)
            right auto
            left 325px
            top 40px
</style>
