<template>
    <section class="hero page__section">
        <h2 class="hero__h1">
            A distributor that thinks and acts like a brand
        </h2>
        <router-link to="/process" class="button">
            <span class="button__text">Request a quote →</span>
        </router-link>
        <div class="hero__scroll-down">Scroll down</div>
    </section>
</template>

<style lang="stylus" scoped>
    .hero
        background #222
        color #fff

        @media (min-width 1024px)
            background url(../assets/images/hero.jpg) right center / contain no-repeat

    .hero__h1
        font-size 48px
        line-height 1.2
        font-weight bold
        margin-bottom 56px

        @media (min-width 1024px)
            font-size 64px
            width 560px

    .hero__scroll-down
        font-size 12px
        font-weight 600
        color #808080
        writing-mode vertical-lr
        margin-top 104px

</style>