<template>
    <section class="marketing">
        <div class="marketing__wrapper  page__section">
            <h2 class="page__h2 marketing__h2">Great products needs great marketing</h2>
            <div class="marketing__text">
                Our marketing department provides every client with individual approach, organizes the process of product launch and clear reporting for vendor.
            </div>
        </div>
        <div class="discovery page__section">
            <div class="discovery__column">
                <h2 class="page__h2 discovery__h2">Discover case studies</h2>
                <div class="discovery__text">
                    Transparency is a fundamental principle of cooperation. Therefore we prepare quarterly reports on activity and business results.
                </div>
            </div>
            <div class="discovery__column">
                <div class="discovery__list">
                    <div class="discovery__item">
                        <a href="/" class="discovery__link">Ecovacs →</a>
                    </div>
                    <div class="discovery__item">
                        <a href="/" class="discovery__link">Elari →</a>
                    </div>
                    <div class="discovery__item">
                        <a href="/" class="discovery__link">Fixitime →</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<style lang="stylus" scoped>
    .marketing
        background #fff

    .marketing__wrapper

        @media (min-width 1024px)
            padding-left 50%
            max-width 350px

    .marketing__text
        margin 16px 0

    .discovery__h2
        margin-top 32px

    .discovery
        background #222
        color #fff

        @media (min-width 1024px)
            display flex
            padding 80px

    .discovery__column

        @media (min-width 1024px)
            width 50%

    .discovery__text
        color #808080
        margin-top 12px

        @media (min-width 1024px)
            max-width 330px

    .discovery__list
        margin-bottom 32px

    .discovery__item
        font-size 24px
        line-height 1.3
        margin-top 64px
        text-align center

        &:hover
            text-decoration underline

        @media (min-width 1024px)
            text-align left

</style>