<template>

    <section class="process page__section">
        <div class="process__column">
            <h2 class="page__h2 process__h2">We are not just a reseller.</h2>
            <div class="process__text">
                We take risks & invest in brands we believe in to create demand. Each our brand is supported with local content, paid media promotion, website, mass distribution, trade marketing.
            </div>
            <a href="/" class="button process__button">
                <span class="button__text">Explore product pipeline →</span>
            </a>
        </div>
        <div class="process__column">
            <div class="process__wrapper">
                <div class="process__circle">
                    <div class="process__list">
                        <div class="process__item process__item_first">Discovery</div>
                        <div class="process__item process__item_second">Import</div>
                        <div class="process__item process__item_third">Pre-sale<br/>service</div>
                        <div class="process__item process__item_fourth">Distribution</div>
                        <div class="process__item process__item_fifth">Marketing Support</div>
                        <div class="process__item process__item_sixth">After-sales<br/>Service</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<style lang="stylus" scoped>
    .process
        background #222
        color #fff
        overflow hidden
        display flex
        flex-direction column

        @media (min-width 1366px)
            flex-direction row

    .process__h2
        margin-top 48px

    .process__text
        color #808080

        @media (min-width 1366px)
            max-width 345px

    .process__wrapper
        margin 48px 0 102px
        width 100%
        height 480px
        position relative

        @media (min-width 800px)
            margin-bottom 0

    .process__circle
        border-radius 100%
        border 1px dashed #474742
        position absolute
        width 480px
        height 480px
        margin-left 96px

        @media (min-width 800px)
            left 50%
            transform translateX(-50%)
            margin 0

            &:before
                content ''
                position absolute
                left -5%
                top -5%
                width 55%
                height 25%
                background #222

        @media (min-width 1366px)
            position relative
            left 0
            transform none
            margin-left 150px

    .process__button
        margin-top 32px

    .process__list
        position absolute
        left 0
        top 0
        width 50%
        height 100%
        counter-reset service

    .process__item
        color #C6C8CC
        position absolute
        white-space nowrap

        &:after
            content ''
            position absolute
            right -28px
            top 50%
            transform translate(0, -50%)
            background #808080
            border-radius 3px
            width 6px
            height 6px

    .process__item_first
        right 175px
        top 40px

        @media (min-width 800px)
            right -30px
            top -43px

            &:after
                bottom -22px
                right 50%
                top auto
                transform translate(50%, 0)

    .process__item_second
        right 235px
        top 110px

        @media (min-width 800px)
            right -250px
            top 73px

            &:after
                left -28px
                right auto
                transform translate(50%, 0)

    .process__item_third
        right 265px
        top 185px
        text-align right

        @media (min-width 800px)
            right -294px
            top 315px

            &:after
                left -28px
                right auto
                transform translate(50%, 0)

    .process__item_fourth
        right 260px
        top 280px

        @media (min-width 800px)
            right -34px
            top 500px

            &:after
                top -22px
                right 50%
                transform translate(50%, 0)

    .process__item_fifth
        right 230px
        top 355px

        @media (min-width 800px)
            right 250px
            top 315px

    .process__item_sixth
        right 175px
        top 405px
        text-align right

        @media (min-width 800px)
            right 220px
            top 75px


</style>