<template>
    <section class="service">
        <div class="service__header page__section">
            <h2 class="page__h1 service__h2">A-class service</h2>
            <div class="service__text">
                We anticipate service experctations for customer, vendor & retail chains.
            </div>
            <a href="/" class="button button_white">
                <span class="button__text">Our service manifesto →</span>
            </a>
        </div>
        <div class="service__list page__section">
            <div class="service__column">
                <div class="service__name">Pre-sale service</div>
                <div class="service__item">Exploring product exploitation peculiarities</div>
                <div class="service__item">Software & manuals localization</div>
                <div class="service__item">Creating video manuals for sales force</div>
            </div>
            <div class="service__column">
                <div class="service__name">Sale service</div>
                <div class="service__item">Flexible delivery & payment terms</div>
                <div class="service__item">Our couriers are friendly experts that explain how to use & sel</div>
                <div class="service__item">Free installation & configuration service</div>
            </div>
            <div class="service__column">
                <div class="service__name">Post-sale service</div>
                <div class="service__item">Up to 7 days repair period</div>
                <div class="service__item">Easy to return service</div>
                <div class="service__item">Tracking repair status online</div>
            </div>
        </div>
    </section>
</template>

<style lang="stylus" scoped>
    .service
        background #fff

    .service__h2
        margin-top 48px

    .service__text
        padding 32px 0
        width 320px

    .service__list
        background #F2F3F5
        counter-reset service
        padding 64px 32px

        @media (min-width 1024px)
            padding 80px
            display flex

    .service__column

        &:not(:last-child)
            margin-bottom 32px

            @media (min-width 1024px)
                margin 0 64px 0 0

    .service__name
        padding-left 16px
        font-weight bold
        line-height 1
        margin-bottom 12px
        position relative

        &:before
            counter-increment service
            content: "0" counter(service);
            position absolute
            left -5px
            top -10px
            font-size 12px
            line-height 1
            color #C6C8CC

    .service__item
        padding-left 16px
        position relative
        color #808080
        max-width 280px

        &:before
            content ''
            background #808080
            width 8px
            height 1px
            position absolute
            left 0
            top 10px

</style>