<template>
    <div class="page__container">
        <router-view/>
    </div>
</template>

<script>

    export default {

    }
</script>

<style src="./assets/fonts/fonts.css"></style>
<style lang="stylus">
    html
        min-width 320px
        height 100%

    body
        margin 0
        padding 0
        font-family Gilroy, Arial, sans-serif
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale
        display flex
        height 100%
        line-height 1.7
        font-size 14px

    h1, h2
        font-weight normal
        margin 0
        padding 0

    ul
        padding 0
        margin 0
        list-style none

    a
        color inherit
        text-decoration none

    .page__container
        width 100%
        /*min-height 100%*/
        /*overflow hidden*/

    .page__wrapper
        margin 0 auto
        padding 32px 32px 0 32px
        box-sizing border-box
        min-height 100%

        @media (min-width 1024px)
            padding 40px 75px 0

    .page__section
        padding 32px

        @media (min-width 1024px)
            padding 80px 80px 80px 325px

    .page__h1
        font-size 36px
        font-weight bold
        line-height 1.2

        @media (min-width 1024px)
            font-size 48px

    .page__h2
        font-size 24px

    .page__process
        height 100%

    .button
        color #fff
        position relative
        padding-right 24px
        transition .2s linear
        line-height 50px
        font-weight 600
        display inline-block

        &:before
            content ''
            width 76px
            height 50px
            background #2858A2
            border-radius 25px
            position absolute
            top 50%
            right 0
            transform translateY(-50%)
            transition .2s linear

        &:hover
            transform translateX(24px)
            &:before
                width 100%
                padding-left 24px

    .button_white
        color #000

        &:hover
            color #fff

    .button_gray
        &:before
            background #7A7D80

    .button__text
        position relative


</style>
